<h1>Volunteer Profile Page</h1>

<h3><%= @user.first_name %><%= @user.last_name %></h3>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Mobile: <%= @user.mobile %></li>
  <li>Skype: <%= @user.skype %></li>
  <li>Role: <%= @user.role %></li>
  <li>Relevant Experience: <%= @user.relevant_experience %></li>
  <li>Can you work Remote? <%= @user.work_remote %></li>
  <li>Can you cover your travel expenses? <%= @user.travel_experience %></li> 
</ul>


